<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="public" route_prefix="resources" sub_name="resource-downloaded" format="resource-downloaded/:int&lt;user_id,username&gt;/" controller="MMO\ResourceDownloaders:Downloader"/>
</routes>
 		    	 			 									    		 		   	 	  		 		 	    				 		 	  	 				  	 		 	  	 			 	 		    		 		    		   	 	 		   				 					 					 	
