<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="dbtech-shop" controller="DBTech\Shop:Index" context="dbtechShop"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="categories" format="categories/:int&lt;category_id,title&gt;/" controller="DBTech\Shop:Category" context="dbtechShopCategory"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="currencies" format="currencies/:int&lt;currency_id,title&gt;/" controller="DBTech\Shop:Currency" context="dbtechShopCurrency"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="items" format="items/:int&lt;item_id,title&gt;/" controller="DBTech\Shop:Item" context="dbtechShopItem"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="items/fields" format="items/fields/:str&lt;field_id&gt;/" controller="DBTech\Shop:ItemField" context="dbtechShopItemFields"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="logs" format="logs/" controller="DBTech\Shop:Log" context="dbtechShopLogs"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="logs/transactions" format="logs/transactions/:int&lt;transaction_log_id&gt;/" controller="DBTech\Shop:Log" context="dbtechShopTxnLog" action_prefix="transaction"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="lotteries" format="lotteries/" controller="DBTech\Shop:Lottery" context="dbtechShopLotteries"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="lotteries/lottery" format="lotteries/lottery/:int&lt;lottery_id,title&gt;/" controller="DBTech\Shop:Lottery" context="dbtechShopLotteries" action_prefix="Lottery"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="lotteries/prizes" format="lotteries/prizes/:int&lt;lottery_prize_id,title&gt;/" controller="DBTech\Shop:Lottery" context="dbtechShopPrize" action_prefix="LotteryPrize"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="prefixes" format="prefixes/:int&lt;prefix_id,title&gt;/" controller="DBTech\Shop:ItemPrefix" context="dbtechShopItemPrefix"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="prefixes/group" format="prefixes/group/:int&lt;prefix_group_id,title&gt;/" controller="DBTech\Shop:ItemPrefix" context="dbtechShopItemPrefix" action_prefix="Group"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="purchases" format="purchases/:int&lt;purchase_id&gt;/" controller="DBTech\Shop:Purchase" context="dbtechShopPurchase"/>
  <route route_type="admin" route_prefix="dbtech-shop" sub_name="shops" format="shops/:int&lt;shop_id,title&gt;/" controller="DBTech\Shop:Shop" context="dbtechShopShop"/>
  <route route_type="admin" route_prefix="permissions" sub_name="dbtech-shop-categories" format="dbtech-shop-categories/:int&lt;category_id,title&gt;/" controller="DBTech\Shop:Permission" context="dbtShpCategoryPermissions" action_prefix="category"/>
  <route route_type="admin" route_prefix="permissions" sub_name="dbtech-shop-items" format="dbtech-shop-items/:int&lt;item_id,title&gt;/" controller="DBTech\Shop:Permission" context="dbtShpItemPermissions" action_prefix="item"/>
  <route route_type="api" route_prefix="dbtech-shop" sub_name="trade-post-comments/" format="trade-post-comments/" controller="DBTech\Shop:TradePostComments"/>
  <route route_type="api" route_prefix="dbtech-shop" sub_name="trade-post-comments/-" format="trade-post-comments/:+int&lt;trade_post_comment_id&gt;/" controller="DBTech\Shop:TradePostComment"/>
  <route route_type="api" route_prefix="dbtech-shop" sub_name="trade-posts/" format="trade-posts/" controller="DBTech\Shop:TradePosts"/>
  <route route_type="api" route_prefix="dbtech-shop" sub_name="trade-posts/-" format="trade-posts/:+int&lt;trade_post_id&gt;/" controller="DBTech\Shop:TradePost"/>
  <route route_type="public" route_prefix="dbtech-shop" format=":int&lt;item_id,title&gt;/" controller="DBTech\Shop:Item" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="authors" format="authors/:int&lt;user_id,username&gt;/" controller="DBTech\Shop:Author" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="bank" format="bank/:int&lt;currency_id,title&gt;/" controller="DBTech\Shop:Bank" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="categories" format="categories/:int&lt;category_id,title&gt;/" controller="DBTech\Shop:Category" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="checkout" format="checkout" controller="DBTech\Shop:Checkout" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="checkout/recipient" format="checkout/recipient/:int&lt;item_id,title&gt;/" controller="DBTech\Shop:Checkout" context="dbtechShop" action_prefix="recipient"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="checkout/remove-item" format="checkout/remove-item/:int&lt;item_id,title&gt;/" controller="DBTech\Shop:Checkout" context="dbtechShop" action_prefix="RemoveItem"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="inventory" format="inventory/:int&lt;purchase_id&gt;/" controller="DBTech\Shop:Inventory" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="lotteries" format="lotteries/:int&lt;lottery_id,title&gt;/" controller="DBTech\Shop:Lottery" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="lotteries/view-draw" format="lotteries/view-draw/:int&lt;lottery_history_id&gt;/" controller="DBTech\Shop:Lottery" context="dbtechShop" action_prefix="ViewDraw"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="review" format=":+int&lt;item_id,item_title&gt;/review/:+int&lt;item_rating_id&gt;/" controller="DBTech\Shop:Review" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="steal" format="steal/" controller="DBTech\Shop:Steal" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="trade-posts" format="trade-posts/:int&lt;trade_post_id&gt;/" controller="DBTech\Shop:TradePost" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="trade-posts/comments" format="trade-posts/comments/:int&lt;trade_post_comment_id&gt;/" controller="DBTech\Shop:TradePost" context="dbtechShop" action_prefix="Comments"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="trades" format="trades/:int&lt;trade_id&gt;/" controller="DBTech\Shop:Trade" context="dbtechShop"/>
  <route route_type="public" route_prefix="dbtech-shop" sub_name="transactions" format="transactions/:int&lt;transaction_log_id&gt;/" controller="DBTech\Shop:Transactions" context="dbtechShop"/>
  <route route_type="public" route_prefix="whats-new" sub_name="shop-items" format="shop-items/:int&lt;find_new_id&gt;/:page" controller="DBTech\Shop:WhatsNewItem" context="dbtechShop"/>
</routes>
